* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Lexend Deca;
  src: url(../fonts/LexendDeca-Regular.ttf);
}

@font-face {
  font-family: Big Shoulder;
  src: url(../fonts/BigShouldersDisplay-Black.ttf);
  src: url(../fonts/BigShouldersDisplay-ExtraBold.ttf);
  src: url(../fonts/BigShouldersDisplay-SemiBold.ttf);
}

body {
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 500;
}

p {
  color: rgba(255, 255, 255, 0.75);
}

main {
  padding: 50px 10px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container {
  max-width: 1000px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #eeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .sedan-wrapper {
  background-color: #e38826;
  color: white;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 500px;
}

main .container .sedan-wrapper h1 {
  margin: 30px 0px;
  font-family: Big Shoulder;
}

main .container .sedan-wrapper p {
  line-height: 1.8rem;
}

main .container .suvs-wrapper {
  background-color: #006970;
  color: white;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 500px;
}

main .container .suvs-wrapper h1 {
  margin: 30px 0px;
  font-family: Big Shoulder;
}

main .container .suvs-wrapper p {
  line-height: 1.8rem;
}

main .container .luxury-wrapper {
  background-color: #004241;
  color: white;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 500px;
}

main .container .luxury-wrapper h1 {
  margin: 30px 0px;
  font-family: Big Shoulder;
}

main .container .luxury-wrapper p {
  line-height: 1.8rem;
}

main .container .sedan-btn {
  margin-top: auto;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid transparent;
  color: #e38826;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  bottom: 0;
  left: 0;
}

main .container .sedan-btn:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

main .container .suvs-btn {
  margin-top: auto;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid transparent;
  color: #006970;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  bottom: 0;
  left: 0;
}

main .container .suvs-btn:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

main .container .luxury-btn {
  margin-top: auto;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid transparent;
  color: #004241;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  bottom: 0;
  left: 0;
}

main .container .luxury-btn:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

@media all and (max-width: 950px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container div {
    width: 330px;
  }
}
/*# sourceMappingURL=main.css.map */